@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Inter !overflow-x-hidden bg-[#F5F5F5];
  }
}
@layer components {
  .swiper-wrapper {
    transition-timing-function: linear !important;
  }
  .custom-select:focus {
    outline: none !important;
  }
}
@layer utilities {
  .customScroll::-webkit-scrollbar {
    width: 6px !important;
  }
  .customScroll::-webkit-scrollbar {
    height: 6px;
  }
  .customScroll::-webkit-scrollbar-track {
    background: transparent;
  }
  .customScroll::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #d9d9d9;
  }
}
